@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashRegular";
  src: url("/fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "ClashMedium";
  src: url("/fonts/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "ClashSemibold";
  src: url("/fonts/ClashDisplay-Semibold.otf");
}

@font-face {
  font-family: "ClashBold";
  src: url("/fonts/ClashDisplay-Bold.otf");
}

h1 {
  font-family: clashBold;
  color: #000000;
}

h2 {
  font-family: clashSemibold;
  color: #000000;
}

h3 {
  font-family: clashMedium;
  color: #000000;
}

h4 {
  font-family: clashRegular;
  color: #000000;
}

.shadow-custom {
  box-shadow: -13px 13px 104px rgba(161, 161, 161, 0.25);
}